<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplicationPruebaDesarrolloCliente</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Aplicacion Control de Transacciones</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Transacciones" asp-action="BusquedaPorFecha">Inicio</a>
                        </li>
                 
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoCliente" asp-action="Index">Tipo Cliente</a>
                        </li>
              
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Agencias" asp-action="Index">Agencias</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TipoTransaccion" asp-action="Index">Tipo Transaccioes</a>
                        </li">
                      
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CanalServicios" asp-action="Index">Canal de Servicios</a>
                        </li">

                          <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Transacciones" asp-action="Index">Transacciones</a>
                        </li>



                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MotivoTransaccion" asp-action="Index">Motivo Transaccion</a>
                        </li>
                      
                      
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="InicioSesion"> Iniciar Sesion</a>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Aplicacion Prueba Desarrollo  - <a asp-area="" asp-controller="Home" asp-action="Privacy">Condiciones de Proyecto</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
