@{
    ViewData["Title"] = "Condiciones del Proyecto";
}
<h1>@ViewData["Title"]</h1>

<p>Proyecto desarrollado con fines de demostración de conocimientos actuales.</p>
<p>Creador: Arnold Josias Bertrand Mejia</p>